.home-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.first-section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.second-section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}