.header {
    display: flex;
    width: 100%;
    align-items: center;
    position: sticky;
}

.header-box {
    width: 100%;
    
}

.header-announcement {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 0.75rem;
    letter-spacing: 0.06em;
    padding: 0.8rem;
}

.header-main {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0;
}

.header-logo {
    display: flex;
    font-family: var(--font-serif);
    font-size: 1.75rem;
    letter-spacing: 0.5em;
    text-decoration: none;
    justify-self: start;
    text-align: center;
    color: black;
}

.header-nav {
    display: flex;
    justify-self: center;
    font-size: 1rem;
    letter-spacing: 0.06em;
    gap: 2rem;
}

.header-nav-link {
    text-decoration: none;
    color: #4b4444;
}


.search-cart {
    justify-content: end;
    display: flex;
    gap: 1rem;
}



